name: Tensorplus Wheel Build
on:
  push:
    branches:
      - dev
env: 
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: [self-hosted, linux, x64]
    container:
      image: octakitten/tensorplus-v01
    steps:
      - uses: actions/checkout@v4
      - run: sh build.sh
      - run: uv build --wheel
      - run: zip tensorplus.zip dist/*.whl dist/*.so dist/*.dylib dist/*.dll
      - run: gh release delete nightly -y --cleanup-tag
      - run: gh release create nightly --prerelease --title "Nightly Build" --notes "Automated nightly builds." tensorplus.zip
      - run: /venv/bin/pip3 install dist/tensorplus*.whl
      - run: /venv/bin/pytest --maxfail=0 --junit-xml=results.xml --cov=tensorplus --cov-report=html --cov-report=term test/ | tee coverage.txt
      - uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: coverage.txt
          junitxml-path: results.xml
