name: Tensorplus Wheel Build
on:
  push:
    branches:
      - main
env: 
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: [self-hosted, linux, x64]
    container:
      image: octakitten/tensorplus-v01
    steps:
      - uses: actions/checkout@v4
      - run: sh build.sh
      - run: uv build --wheel dist
      - run: zip tensorplus.zip dist/*.whl dist/*.so dist/*.dylib dist/*.dll
      - run: gh release delete latest -y --cleanup-tag
      - run: gh release create latest tensorplus.zip
      - run: /venv/bin/pip3 install dist/tensorplus-0.0.2-py3-none-any.whl
      - run: /venv/bin/pytest --maxfail=0 --junit-xml=results.xml --cov=tensorplus --cov-report=html --cov-report=term test/ | tee coverage.log
      - uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: coverage.log
          junitxml-path: results.xml
